body {
	background: #ffffe0;
	font-family: Georgia, serif;
	font-style: italic; 
	color: #ff0000;
	text-decoration: italic;
	
}

h2 {
		font-size: 17 px;
		border: dashed red;
}
	
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
</style>
