body {
	background: #ffffe0;
	font-family: Georgia, serif;
	font-style: italic; 
	color: #ff0000;
	text-decoration: italic;
	
}

h1 { 
    font-size: 50px;
    color: #FFADAD;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px #840404, 8px 0 #840404, 0 -1px #840404;
  
}


h2 {
		font-size: 17 px;
		border: 8px double white;
  background: red;
  color: #FFDBEA;
  text-align: center;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid red;
  float: center;
  
}

h3 {
  text-align: center;
  font-size: 35px;
  color: white;
  text-decoration: underline;
}

a {
  text-align: center;
}
p {
  text-decoration: none;
    color: #FFDBEA;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 23px;

}
	* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

}.container {
	width: 80%;
	margin: 0 auto;
}	
header {
	background: #FFDBEA;
  border: 4px solid red;
}
nav {
	float: middle;
	text-align: center;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li { 
display: inline-block;
margin: 0 45px;
padding-top: 15px;
padding-bottom: 15px;
}

nav a {
  color: #840404;
  text-decoration: none;
  font: small-caps 24px/1 cu; 
  font-size: 25px;  
}

nav a:hover { 
  color: #840404;
}
